@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Rubik:wght@400;900&display=swap');

@font-face {
  font-family: 'squealerheavy';
  src: url('/fonts/squealer-webfont.woff2') format('woff2'),
    url('/fonts/squealer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:text-roc-yellow;
  }
}
