@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CS Gordon Rounded';
  src: url('/fonts/cs_gordon_rounded-webfont.woff2') format('woff2'),
    url('/fonts/cs_gordon_rounded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .button {
    @apply rounded-full
      bg-red
      px-5
      py-2
      text-white
      disabled:cursor-not-allowed
      disabled:opacity-50;
  }
}
